<div class="container container--base-spacing">
  <h2><%= @user.name %> Information</h2>
</div>

<div class="card card--user-info">
  <p>Age: <%= @user.age %> </p>
  <p>Biography: <%= @user.biography %> </p>
</div>

<div class="container container--large-spacing">
  <h3><%= @user.name %> contacts:</h3>
  <% @user.contacts.each do |contact| %>
    <ul class="card card--user-info">
      <li><%= contact.name %></li>
        <ul>
        <% contact.phones.each do |phone| %>
          <li><strong>Number:</strong> <%= phone.number %></li>
          <li><strong>Phone Kind:</strong> <%= phone.phone_kind %></li>
          <li><strong>Principal:</strong> <%= phone.principal %></li>
          <hr>
        <% end %>
        </ul>
    </ul>
  <% end %>
</div>
